<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Custom Listeners Suite">
    <test name="Sample Tests">
        <classes>
            <class name="com.example.tests.SampleTest"/>
        </classes>
    </test>
    <test name="DataProvider Tests">
        <classes>
            <class name="com.example.tests.DataProviderTest"/>
        </classes>
    </test>
    <test name="Skipped Tests">
        <classes>
            <class name="com.example.tests.SkippedTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.testng.listeners.BaseTestListener"></listener>
        <listener class-name="org.testng.listeners.SimpleMarkdownReporterListener"></listener>
        <listener class-name="org.testng.listeners.HtmlTestReporterListener"></listener>
        <listener class-name="org.testng.listeners.MarkdownListener"></listener>
        <listener class-name="org.testng.listeners.ExecutionSummaryMarkdownListener"></listener>
        <listener class-name="org.testng.listeners.MarkdownListenerWithChart"></listener>
    </listeners>
</suite>
